/* ======================
   HEADER – MOBILE
====================== */
@media (max-width: 576px) {
  header {
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .imagenportada_nuestrosviajes {
    width: 90%;
    margin: 0 auto;
  }
}

/* ======================
   NAV – TABLET / MOBILE
====================== */
@media (max-width: 992px) {
  nav ul {
    justify-content: center;
  }
}
