@media (max-width: 600px) {
  header {
    h1 { font-size: 28px; }
    p { font-size: 16px; }
  }

  .bloque_whfrancia,
  .bloque_marruecos,
  .bloque_españa {
    width: 90%;
    max-width: 320px;
  }

  .imagenportada_nuestrosviajes {
    width: 90%;
  }
}

@media (max-width: 900px) {
  nav ul {
    justify-content: center;
  }

  .bloque_whfrancia,
  .bloque_marruecos,
  .bloque_españa {
    width: 45%;
    max-width: 280px;
  }
}
