@use "../variables";

/* ======================
   CONÓCENOS
====================== */

.h1_conocenos {
  .h1_conocenos {
  text-align: center;
}

}

.article_conocenos {
  font-family: variables.$fuente-base;
  text-align: center;
  max-width: 900px;        /* 👈 LIMITA EL ANCHO */
  margin: 0 auto 3rem;     /* 👈 CENTRADO */
}

.imagen_conocenos {
  width: 100%;
  aspect-ratio: 16 / 9;    /* 👈 CLAVE */
  object-fit: cover;
  border-radius: 12px;
  box-shadow: variables.$sombra;
  margin-top: 2rem;
}

