@use "../variables";

header {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;

  h1 {
    font-family: variables.$fuente-base;
    font-size: 36px;
    color: #000;
  }

  p {
    font-family: variables.$fuente-base;
    font-size: 20px;
    color: variables.$color-texto;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: variables.$sombra;
  }
}
/* ===== Dropdown Working Holidays ===== */

.navbar .dropdown-menu {
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  padding: .5rem;
}

.dropdown-item {
  border-radius: 8px;
  transition: .2s;

  &:hover {
    background: #f3f4f6;
    padding-left: 1.2rem;
  }
}
.navbar .nav-link {
  color: #222 !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #000 !important;
}